{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "feature.html" . }}

{{ partial "about.html" . }}

{{ partial "chat_interface.html" . }}

{{ partial "dashboard.html" . }}

{{ partial "holonic_os.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "partners.html" . }}

<!-- {{ partial "portfolio.html" . }}-->

<!-- {{ partial "funfacts.html" . }}-->

<!-- {{ partial "team.html" . }}-->

<!-- {{ partial "pricing.html" . }}-->

<!-- {{ partial "testimonial.html" . }}-->

<!-- {{ partial "blog.html" . }} -->

{{ partial "contact.html" . }}

<!-- {{ partial "map.html" . }} -->

{{ end }}
