.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
.package-lock.json
pnpm-lock.yaml
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn-error.log
radata*
radata/*
holosphere.db/*
.netlify/*
docs/api/*
.superpowers/
.claude/