
.call-to-action p , .call-to-action h2 {
  color: var(--white) ;
}

.btn-main {
    background: var(--shade-900);
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
}

.logo-nav {
  width: 250px;
}


.navbar-light .logo-light,
.navbar-dark .logo-dark {
  display: inline-block;
}
.navbar-dark .logo-light,
.navbar-light .logo-dark {
  display: none;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    width:50%
  }
}
