{{ if .Site.Data.feature.enable }}
{{ "<!-- Start Feature Section -->" | safeHTML }}
<section id="feature" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{ with .Site.Data.feature.heading }}
				<div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>{{ .title | markdownify }}</h2>
					<div class="border-meghna"></div>
					<p class="mt-3">{{ .subtitle | markdownify }}</p>
				</div>
				{{ end }}
			</div>
		</div>
		
		<div class="row mt-4">
			<div class="col-lg-12">
				<div class="text-center mb-5 wow fadeInDown" data-wow-duration="500ms">
					<p class="lead">{{ .Site.Data.feature.heading.description | markdownify }}</p>
				</div>
			</div>
		</div>

		<div class="row">
			{{ range .Site.Data.feature.features }}
			<div class="col-lg-4 col-md-6">
				<div class="feature-card wow fadeInUp" data-wow-duration="500ms">
					<div class="icon-box">
						<i class="{{ .icon }}"></i>
					</div>
					<h4>{{ .title }}</h4>
					<p>{{ .content }}</p>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ "<!-- End Feature Section -->" | safeHTML }}
{{ end }}
